/*CONFIGURAÇÕES GERAIS E RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: linear-gradient(to right, #10133b 40%, #d5d7db 100%);
}